body {
    padding-top: 70px;
}

.inline {
    display: inline-block;
}

.small-thumb {
    width: 50px;
    height: 50px;
}

.single-avatar {
    max-width: 60%;
    height: auto;
}

.thumbnail{
    margin-bottom: 5px;
}

.thumbnail:hover {
    border: solid 4px #337AB7;
}

.list-group-item:hover {
    background-color: #204d74;
}

.list-group-item:hover h4 {
    color: #ffffff;
}

.list-group-item:hover input {
    color: #66afe9;
}

.list-group-item input:hover{
    color: #4bb1b1;
}

input.btn-hidden {
    background: none !important;
    border: none;
    padding: 0 !important;
    font: inherit;
    color: #ffffff;
    cursor: pointer;
}


